.App {

}

.App-logo {
    height: 60px;
}

.App-header {
    background-color: #2196f3;
    height: 60px;
    padding: 5px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-field {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.result-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 50%;
}

.card-info {
    max-width: 955px;
    min-width: 300px;
}

. suggestion {
    z-index: 1001;
    display: block;
    position: absolute;
    max-width: 50%;
    margin: auto;
}

.card-head {
    display: flex;
    justify-content: space-between;
}